<h1>StoryTime</h1>

<% @stories.each do |story| %>
  <h3><%= link_to "#{story.title}", story_path(story) %></h3>
  <p><%= story.first_sentence %></p>
<% end %>


<%= link_to 'Add a Story', new_story_path, class: "btn btn-primary"%>
