<h1>StoryTime</h1>

<ul style="list-style:none">
  <% @stories.each do |story| %>
    <li><h3><%= link_to "#{story.title}", story_path(story) %></h3></li>
    <p><%= story.first_sentence %></p>
  <% end %>
</ul>

<%= link_to 'Add a Story', new_story_path %>
